@media (min-width:1280px) and (max-width:1365.98px) {
	header {
		.subheader {
			padding: 0 5% 15px;
		}

		.mainheader {
			padding: 15px 5% 0;
		}

	}

	.custom-container {
		padding: 1% 5% 5%;
	}

}
