@media (min-width:1400px) and (max-width:1439.98px) {
	header {
		.subheader {
			padding: 0 6% 15px;
		}

		.mainheader {
			padding: 15px 6% 0;
		}

	}

	.custom-container {
		padding: 1% 6% 5%;
	}

}
