// font family
$fontFamily: 'Montserrat', sans-serif;
//colors
$primaryClr: #133458;
$secondaryClr: #258ecd;
$whiteClr: #FFFFFF;
$blackClr: #000000;
$successClr: #3fc4b1;
$warningClr: #ff7f7e;
$errorClr: #ef6178;
$lightGrayClr: #798596;
$darkGrayClr: #9fa7b3;
$borderClr: #EEEEEE;
// Responsive Media Screens
$tablet-width: 768px;
$desktop-width: 1024px;
